
.job {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: -1px 1px 1px #ccc, 1px 0px 1px #ccc;
    border-radius: 3px;
}
    
.profile {
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    padding: 15px 20px;
    
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 500px;
    background-color: #fdaa5a;
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    margin-right: 10px;
    border: 1px solid #ffa045;
}

.name {
    display: block;
    font-weight: 600;
    font-size: 17px;
}

.date {
    font-size: 15px;
    color: #8b8b8b;
}

.icon {
    margin-right: 5px;
}
  
.info {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 20px;
    color: #737272;
    font-size: 17px;
}

.suburb {
    padding-right: 20px;
}
  
.category {
    padding-right: 20px;
}
  
.jobid {
    padding: 10px 20px;
}

.desc {
    border-bottom: 1px solid #eeeeee;
    padding: 20px 20px;
    color: #737272;
    font-size: 16px;
}
  
.action {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 20px;
    color: #737272;
}
  
.price {
    padding: 10px 10px;
    font-weight: 600;
    font-size: 18px;
}

.price-accepted {
    padding: 10px 10px;
    font-size: 18px;
}

.btn {
    padding: 12px 30px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 2px;
    margin: 10px 10px 10px 0;
}

.btn-decline {
    background: #eeeeee;
    border-bottom: 2px solid #c3bfbf;
}

.btn-accept {
    background: #ff8e41;
    color: #fff;
    border-bottom: 2px solid #c55a1a;
}

.btn-tab {
    padding: 20px 0;
    border: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 2px;
    margin: 10px 0px 20px 0;
    border-right: 1px solid #eeeeee;
    width: 50%;
    font-size: 20px;
    box-shadow: -1px 1px 1px #ccc, 1px 0px 1px #ccc;
}

.btn-tab.selected {
    border-bottom: 3px solid #f37926;
}

.details {
    padding: 20px 20px;
    color: #737272;
    font-size: 16px;
}

.details-desc {
    padding: 20px 0px;
}

.phone {
    margin-right: 10px;
    color: #fdaa5a;
    font-weight: 600;
}

.email {
    color: #fdaa5a;
    font-weight: 600;
}